@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
  --titulo: "DM Serif Display", serif;
  --texto: "DM Sans", sans-serif;
  --RoxoE: #4E0188;
  --RoxoC: #951BD2;
  --RosaC: #F8A5C2;
  --Escuro: #2D3436;
}
:root{
  --side-shadow-width: 160px;   /* largura da sombra lateral */
  --side-shadow-opacity: 0.55;  /* força da sombra */
  --side-shadow-blur: 60px;     /* suavidade da transição */
}

html, body { overflow-x: hidden; }

body {
  min-height: 100vh;
  position: relative;
  background: #4b0b7a;
  font-weight: bold;
}
p {
  margin: 0;
}


body::before,
body::after {
  content: "";
  position: fixed;
  top: 0;
  height: 100vh;
  width: var(--side-shadow-width);
  pointer-events: none;
  z-index: 10;
  filter: blur(var(--side-shadow-blur));
}

/* sombra esquerda */
body::before {
  left: 0;
  background: linear-gradient(to right,
    rgba(0,0,0,var(--side-shadow-opacity)) 0%,
    rgba(0,0,0,0) 70%);
}

/* sombra direita */
body::after {
  right: 0;
  background: linear-gradient(to left,
    rgba(0,0,0,var(--side-shadow-opacity)) 0%,
    rgba(0,0,0,0) 70%);
}


body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: var(--texto);
    box-shadow: inset 10px 0 15px -10px rgba(0, 0, 0, 0.925),
              inset -10px 0 15px -10px rgba(0, 0, 0, 0.884);
}

li, a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: var(--RoxoE);
    font-family: "DM Serif Display", serif;
    box-shadow: 0px 4px 10px black;
}
#logotipo {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-left: 20px;
    text-shadow: 5px 5px 20px rgb(0, 0, 0);
}
#nav-links {
    list-style-type: none;
    transition: 0.5s;
}
#nav-links li {
    display: inline-block;
    padding: 0px 20px;
    
}
li a:hover {
    box-shadow: 0px 4px 10px black;
    padding: 10px 15px;
    font-size: 30px;
}
#nav-links a {
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.205);
}
#contato {
    background-color: white;
    box-shadow: 1px 1px 10px black;
    color: var(--RoxoE);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.822);
}
#contato:hover {
    background-color: white;
    box-shadow: 1px 1px 20px black;
    padding: 10px 15px;
    font-size: 30px;
}

#fundo1 {
    background-color: var(--RoxoE);
    width: auto;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
#fundo1 h1 {
    margin-top: 70px;
    color: white;
    font-size: 3vw;
    text-align: center;
    text-shadow: 1px 1px 20px rgb(0, 0, 0);
    font-family: "DM Serif Display", serif;
}
#fundo1 img {
    width: 50vw;
    margin-top: 20px;
}
.glow {
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.685);
}
#fundo2 {
    background: linear-gradient(#4E0188, #951BD2);
    width: auto;
    min-height: 100%;
    padding: 70px;
}
#fundo2 h2 {
    font-family: var(--titulo);
    font-size: 3.5em;
    margin: 0px 0px 70px 50px;
    color: white;
    text-shadow: 1px 1px 20px rgb(0, 0, 0);
}
#sobremim {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    
    max-height: 600px;
    margin: auto;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 5px 5px 50px black;
}
#sobremim p {
    max-height: 600px;
    line-height: 2.1;
    font-size: 1.55em;
    text-indent: 30px;
    text-align: justify;
}
#sobremim img {
    margin-left: 50px;
    width: 400px;
    border-radius: 50%;
    border: 5px solid var(--RoxoE);
    box-shadow: 0px 0px 10px #951bd280;
}
#experiencias {
    background-color: var(--RoxoC);
    width: auto;
    min-height: 100vh;
}
#experiencias h2 {
    font-family: var(--titulo);
    font-size: 3.5em;
    margin-bottom:70px;
    margin-top: 0px;
    color: white;
    margin-left: 130px;
    text-shadow: 2px 1px 15px black(0, 0, 0);
}
#empregos {
    display: grid;
    grid-template: auto auto / 100px 1fr 1fr 100px;
    width: 100%;
    gap: 40px;
}
.quadro-empregos {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 20px black;
}

.imagens-empregos {
    position: relative;
    height: 180px;
    display: block;
    margin-bottom: 9px;
}
.fundo-empregos {
    object-fit: cover;
    display: block;
    max-height: 180px;
    width: 100%;
}
.logo-empregos {
    position: absolute;
    bottom: -20px;
    right: 16px;
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
    border: 1px solid #737478;
    object-fit: contain;
    background: #fff;
    cursor: pointer;
    display: block;
}
.texto-empregos {
    margin: 0px 30px 35px 30px;
    position: relative;
    max-width: 100%;
    text-indent: 15px;
}

.quadro-empregos h3 {
    font-size: 2em;
}
.quadro-empregos p{
    font-family: var(--texto);
    font-size: 30px;
    text-align: justify;
    height: 100%;
}
.funcao {
    font-weight: 900;
    margin: 20px 0px 10px -10px;
}
#kn {
    grid-area: 1 / 2 / 2 / 3;
    

}
#jbs {
    grid-area: 1 / 3 / 2 / 4;
   
}
#c3 {
    grid-area: 2 / 2 / 3 / 3;
}
#bunge {
    grid-area: 2 / 3 / 3 / 4;
}

#fundo2 h2 {
    font-size: 6em;
}
#fundo1 h1 {
    font-size: 6em;
}
#experiencias h2 {
    font-size: 6em;
    text-shadow: 1px 1px 10px black;
}
#ctt h2 {
    font-size: 6em;
    margin: 0px 0px 100px 120px;
    padding-top: 100px;
    margin-left: 120px;
    font-family: var(--titulo);
    color: white;
    text-shadow: 1px 1px 10px black;
}
#ctt {
    background: linear-gradient(#951BD2, #4E0188);
    width: auto;
    min-height: 100%;
    padding-bottom: 50px;
}
#wpp {
    background-color: white;
    margin: auto;
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    gap: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    padding: 30px;
    align-items: center;
    justify-items: center;
    box-shadow: 1px 1px 30px black;
    
}
#wpp p {
    font-size: 50px;
    grid-area: 1 / 1 / -1 / 2;
    text-align: center;
}
#wpp a {
    color: var(--RoxoE);
    text-align: center;
    margin: 15px;
    display: block;
    width: 380px;
    font-size: 25px;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 1px 1px 20px black;
    transition: 0.3s;
}
#wpp a:hover {
    box-shadow: 5px 5px 40px black;
    padding: 16px;
    font-size: 26px;
}

#wpp img {
    grid-area: 1 / 3 / -1 / -1;
    text-align: center;
    order: 1000;
    width: 100%;
  max-width: 300px;
  min-width: 100px;
  height: auto;
  display: block;
}
#ou {
    order: 1;
    grid-area: 1 / 2 / 2 / 3;
}
#fim {
    background-color: white;
    width: auto;
    min-height: 100px;
    text-align: center;
    padding-top: 27px;
    font-size: 20px;
}
#fim a {
    color: #4E0188;
    font-size: 23px;
}
@media (max-width: 1280px) {
    #fundo1 h1 {
        font-size: 7vw;
    }
    #sobremim {
        flex-flow: column;
        max-height: 1500px;
    }
    #sobremim img {
        order: -1;
    }
    #empregos {
        grid-template-columns: 20px 1fr 20px; /* Apenas uma coluna */
        grid-template-rows: auto; /* As linhas se ajustam automaticamente */
    }
    #kn {
    grid-area: 1 / 2 / 2 / 3;
    }
    #jbs {
    grid-area: 2 / 2 / 3 / 3;
    }
    #c3 {
    grid-area: 3 / 2 / 4 / 3;
    }
    #bunge {
    grid-area: 4 / 2 / 5 / 3;
    }
    #wpp {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    #wpp a {
         margin: auto;
         margin-top: 30px;
    }
    #ou {
        grid-area: 2 / 1 / 3 / 2;
    }
}
@media (max-width: 870px) {
    #fundo1 h1 {
        font-size: 3.6em;
    }
    #fundo1 img {
        width: 90vw;
    }
    #fundo2 {
        padding: 0px;
        height: 1200px;
        background-color: white;
    }
    #fundo2 h2 {
        font-size: 3.6em;
    }
    #sobremim {
        border-radius: 0px;
    }
    #sobremim img {
        width: 300px;
        margin: auto;
    }
    #sobremim p {
        font-size: 1.1em;
        margin-top: 20px;
    }
}